 <h1><%= @user.name %></h1><br><br>

<h2>Created Events:</h2>

<% @user.created_events.each do |event| %>
  <h3><%= link_to event.description, event %><h3><br>
  <p><%= event.event_date %></p>
<% end %>